body {
    width: 480px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

.col-1 {
    background-color: darkgrey;
    box-shadow: 1px 1px 12px black ;
    height: 40px;
    border-radius: 5px;
}

.clickedEmpty {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.clickedMine {
    background-color: red;
    color: white;
    font-weight: bold;
}